@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    transition: all 300ms;
    color: white;
}

:root {
    --primary: #0078FF;
    --secondary: #1E1E1E;
    --grey: #353535;
    --lightgrey: #F2F2F2;
    --lightblue: #cae9ea;
    --green: #00FF7F;
}

body {
    background-color: var(--secondary);
}

.App {
    margin: 0px 10%;
}

@media (max-width: 768px) {
    .App {
        margin: 4%;
    }
}

